<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Left: Home -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "home.gif", style: "width: 50px; height: 50px;" %>
    <% end %>

    <!-- Center: Rooms → FAQs -->
    <ul class="navbar-nav d-flex flex-row gap-4">
      <li class="nav-item">
        <%= link_to rooms_path, class: "nav-link d-flex align-items-center" do %>
          <%= image_tag "rooms.png", style: "width: 20px; height: 20px;", class: "me-1" %>
          Rooms
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to contact_messages_path, class: "nav-link d-flex align-items-center" do %>
          <%= image_tag "contact.png", style: "width: 20px; height: 20px;", class: "me-1" %>
          Contact Us
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to about_us_path, class: "nav-link d-flex align-items-center" do %>
          <%= image_tag "about.png", style: "width: 20px; height: 20px;", class: "me-1" %>
          About Us
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to faqs_path, class: "nav-link d-flex align-items-center" do %>
          <%= image_tag "faq.png", style: "width: 20px; height: 20px;", class: "me-1" %>
          FAQs
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to guest_path(current_user), class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "guestDashboard.png", style: "width: 20px; height: 20px;", class: "me-1" %>
            Dashboard
          <% end %>
        </li>
      <% end %>
    </ul>

    <!-- Right: Login / Logout -->
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "logout.png", style: "width: 40px; height: 40px;", class: "me-1" %>
            Logout
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "login.png", style: "width: 50px; height: 50px;", class: "me-1" %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</div>