<%= video_tag "background.mp4", autoplay: true, loop: true, muted: true, playsinline: true, class: "background-video" %>
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
  <div>
    <h1 class="minakoya" style="color: white; font-size: 5rem;">Minakoya</h1>
    <hr class="line-above">
    <p style="color: white;">Your Home Away From Home</p>
  </div>

  <%= form_with url: rooms_path, method: :get, class: "form d-flex" do %>
    <div class="d-flex justify-content-between align-items-center search-bar">

      <!-- Check-In -->
      <div class="search-item" id="check-in-btn" data-controller="booking-form">
        <div class="icon-circle">
          <%= image_tag "checkinout.png",
              data: { action: "click->booking-form#open" } %>
        </div>
        <div class="text">
          <div class="label">Check-In</div>
          <div class="value" data-booking-form-target="value">
            <%= params.dig(:search, :check_in) %>
          </div>
          <%= date_field_tag :check_in,
              params.dig(:search, :check_in),
              class: "d-none",
              data: { booking_form_target: "input", action: "change->booking-form#updateValue" } %>
        </div>
      </div>

      <!-- Check-Out -->
      <div class="search-item" id="check-out-btn" data-controller="booking-form">
        <div class="icon-circle">
          <%= image_tag "checkinout.png",
              data: { action: "click->booking-form#open" } %>
        </div>
        <div class="text">
          <div class="label">Check-Out</div>
          <div class="value" data-booking-form-target="value">
            <%= params.dig(:search, :check_out) %>
          </div>
          <%= date_field_tag :check_out,
              params.dig(:search, :check_out),
              class: "d-none",
              data: { booking_form_target: "input", action: "change->booking-form#updateValue" } %>
        </div>
      </div>

      <!-- Guests -->
      <div class="search-item" id="guests-btn">
        <div class="icon-circle">
          <%= image_tag "guests.png" %>
        </div>
        <div class="text">
          <div class="label">Guests</div>
          <div class="value">1</div>
        </div>
      </div>

      <%= submit_tag "Search", class: "search-btn" %>

    </div>
  <% end %>
</div>