<% if room.room_type == "A" %>
  <p class="mb-1"><strong>Sofa Bed:</strong> <%= @room.sofa_bed %></p>
  <p class="mb-1"><strong>Bunk Bed:</strong> <%= room.bunk %></p>
  <p class="mb-1"><strong>Double Bed:</strong> <%= room.double%></p>
<% elsif room.room_type == "B" %>
  <p class="mb-1"><strong>Sofa Bed:</strong> <%= @room.sofa_bed %></p>
  <p class="mb-1"><strong>Bunk Bed:</strong> <%= room.bunk %></p>
  <p class="mb-1"><strong>Semi Double Bed:</strong> <%= room.semi_double%></p>
<% else %>
  <p class="mb-1"><strong>Sofa Bed:</strong> <%= @room.sofa_bed %></p>
  <p class="mb-1"><strong>Single Bed:</strong> <%= room.single %></p>
  <p class="mb-1"><strong>Double Bed:</strong> <%= room.double%></p>
  <p class="mb-1"><strong>Wide Double Bed:</strong> <%= room.wide_double%></p>
<% end %>
